*{
    margin: 0;
    padding:0
}

.wrapper{
    width: 1170px;
    margin: auto
}
header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../img/main.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center, center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
}

.nav-area li a:hover{
    background: #fff;
    color: #333
}

.welcome-test{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-test h2{
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-size: 40px;
}

.welcome-test a{
    border: 1px solid #fff;
    padding: 10px, 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-test a:hover{
    background: #fff;
    color: #333;
}


 
.footer {
    padding: 15px 0;
    text-align: center;
	border-top: solid 2px skyblue;
	border-bottom: solid 2px skyblue;
}
 