body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}


div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
h4 {
  text-align: center;
}

a{
  color: black;
}
form {
    margin:0 auto;
    width:300px
  }
  input {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
  }
  button {
    padding:10px
  }
  label {
    cursor:pointer
  }
  #form-switch {
    display:none
  }
  #register-form {
    display:none
  }
  
  #form-switch:checked~#register-form {
    display:block
  }
  #form-switch:checked~#login-form {
    display:none
  }
 /*
* code for the order table
*/

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  /*
* code for orders status
*/
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
  }
  
  .column {
    flex: 1;
    border: 1px solid gray;
    margin: 2px;
    padding: 10px;
    &:first-child { margin-left: 0;}
    &:last-child { margin-right: 0;}
  }

  .title-center{
    text-align: center;
    font-size: 1.5em;

  }
  .delivered{
    background-color: darkseagreen
  }
  .pending{
    background-color: burlywood;
  }
  .canceled{
    background-color: indianred;
  }

.delete-order{
  color: indianred;
}

/**
css for button create order
**/

.btn{
  width: 250px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  background-color: darkseagreen;
  font-size: 0.95em;
  text-decoration: black;
}
