body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-image: url(../img/main.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center, center;
}


div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
h4 {
  text-align: center;
}

form {
    margin:0 auto;
    width:300px;
  }
  input, textarea, select {
    margin-bottom: 26px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC;
  }
  
  button {
    padding:10px
  }
  label {
    cursor:pointer;
    color: blue;
  }
  #form-switch {
    display:none
  }
  #register-form {
    display:block
  }
  #login-form{
    display: none;
  }
  
  #form-switch:checked~#register-form {
    display:none;
  }
  #form-switch:checked~#login-form {
    display:block;
  }
  
 /*
* code for the order table
*/

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    /*break content in the cell width*/
    word-break: break-all;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    font-size: 14px;
  }
  
  table th {
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    /*break content in the cell width*/
    word-break: break-all;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      
    }
    
    table td::before {
      
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  /*
* code for orders status
*/
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
  }
  
  .column {
    flex: 1;
    border: 1px solid gray;
    margin: 2px;
    padding: 10px;
    &:first-child { margin-left: 0;}
    &:last-child { margin-right: 0;}
  }

  .title-center{
    text-align: center;
    font-size: 1.5em;

  }
  .delivered{
    background-color: darkseagreen
  }
  .pending{
    background-color: burlywood;
  }
  .canceled{
    background-color: indianred;
  }

.delete-order{
  color: indianred;
}

/**
css for button create order
**/

.btn{
  width: 250px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.95em;
  text-decoration: black;
  font-size: 0.9em;
}

.action-button {
  background-color: darkseagreen;
  font-weight:bold;
  text-transform: uppercase;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* create new order content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 45%;
  
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/**
new order input
**/

.new-order-input{
  margin-bottom: 20px;
  display: block;

}

.new-order-p{
  align:"left"
}

.location-picker {
  float: right;
  margin-right: -15px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.location-picker::before{
  content: "\f2ed";  
}
/*
edit order button
*/

.delete-order, .edit-order{
  display: inline-block;
  padding-right: 6px;
  height: 20;
}
/*
status select 
*/

#order-input-status{
  width: 108%
}

/*
the navigation bar
*/


.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color:back;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
}

